[user]
	name = komukomo
	email = komukomo@users.noreply.github.com
[color]
	ui = auto
[core]
	excludesfile = ~/.gitignore
	editor = vim -c \"set fenc=utf-8\"

[merge]
	ff = false
[pull]
	ff = only
[alias]
	st = status
	cm = commit
	co = checkout
	df = diff
	cb = rev-parse --abbrev-ref HEAD
	delete-branches = !git branch --merged develop | grep -v develop | grep -v master | xargs -I{} git branch -d {}
[credential]
	helper = cache
